@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
}

html, body{
  height: 100vh;
  background-color: rgb(177, 177, 177);
}

header{
  color: white;
  background-color: black;
  text-align: center;
}

header > h1{
  padding-top: 50px;

  font-variant: small-caps;
}

header > p{
  padding-bottom: 50px;
}

header a, footer a{
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header a:hover, footer a:hover{
  text-decoration: underline;
}

section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
}

section.img > p{
  border-radius: 5px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.185);
}

section.normal{
  background-color: white;
}

section.img{
  background-color: rgb(60, 60, 60);
  color: white;
}












footer{
  padding: 10px;
  text-align: center;
  color: white;
  background-color: black;
}