*{
  padding: 0;
  margin: 0;
}

#a{

  width: 100%;
  background: black url('imagens/background001.jpg') center center no-repeat fixed;
  background-size: cover;
}

#oi{
  display: block;
  width: 100%;
  background: black url('imagens/background002.jpg') center center no-repeat fixed;
  background-size: cover;
}
